body {
  font-family: "Roboto", sans-serif;
  background-color: #fafdf9;
  margin: 0;
}

header {
  background-color: #66bb6a;
  color: white;
  padding: 20px;
  text-align: center;
}

article {
  background: white;
  margin: 20px;
  padding: 15px;
  border-left: 5px solid #388e3c;
  border-radius: 5px;
}

h2 {
  color: #2e7d32;
}
